
ErrorDocument 401 /404.html
ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

RewriteEngine On
RedirectPermanent /bug-bounty-managment-a-great-example-zomato/ /bug-bounty-management-a-great-example-zomato/
RedirectPermanent /image-gallery-sql-injection/ /cves/cve-2016-11018/
RedirectPermanent /cve-2016-11018-image-gallery-sql-injection/ /cves/cve-2016-11018/
RedirectPermanent /a-simple-guide-to-your-first-cve/ /cve-demystified/

# fix 404
RedirectPermanent /favicon.ico /assets/img/favicon-256x256.png
RedirectPermanent /aaaagwen /about/
RedirectPermanent /aws-takeover-ssrf-javascript/ /aws-takeover-through-ssrf-in-javascript/
RedirectPermanent /interview-bugbounty-program/ /interview-with-a-bug-bounty-program/
RedirectPermanent /vuln-relative-path-overwrite/ /vulnerability-relative-path-overwrite-aka-rpo-or-prssi/
RedirectPermanent /vuln-subdomain-takeover/ /vulnerability-subdomain-takeover/
RedirectPermanent /vuln-clickjacking/ /vulnerability-clickjacking/
RedirectPermanent /vuln-cross-site-scripting/ /vulnerability-cross-site-scripting-aka-xss/
RedirectPermanent /vuln-cross-site-request-forgery/ /vulnerability-cross-site-request-forgery-aka-csrf/
RedirectPermanent /vuln-cross-origin-resource-sharing/ /vulnerability-cross-origin-resource-sharing-aka-cors/
RedirectPermanent /vuln-sql-injection/ /vulnerability-sql-injection-aka-sqli/
RedirectPermanent /vulnerabiliies-list/ /vulnerabilities-list/
RedirectPermanent /vulnerability-assessment-tools/ /pentest-vulnerability-assessment-tools/
RedirectPermanent /the-hunter-games/javascript;: /the-hunter-games/
RedirectPermanent /platform-tournament/ /the-hunter-games/
RedirectPermanent /platform-tournament/index.html /the-hunter-games/
RedirectPermanent /testing-flash-swf/4.Dell /find-vulnerabilities-in-flash-swf/
RedirectPermanent /the-bugbounty-program-that-changed-my-life/ /the-bug-bounty-program-that-changed-my-life/
RedirectPermanent /why-bugbounty/ /why-bug-bounty/
RedirectPermanent /testing-flash-swf/ /find-vulnerabilities-in-flash-swf/
RedirectPermanent /bugbounty-cons/ /cons-of-bug-bounty/

# personal blog v2
RedirectPermanent /cves/cve-2022-43265/ /cves/cve-2022-43265-unrestricted-file-upload-in-canteen-management-system/
RedirectPermanent /cves/cve-2020-22155/ /cves/cve-2020-22155-code-injection-in-simplejobscript-by-niteosoft/
RedirectPermanent /cves/cve-2020-22154/ /cves/cve-2020-22154-authenticated-sql-injection-in-zenphoto/
RedirectPermanent /cves/cve-2020-22145/ /cves/cve-2020-22145-code-injection-in-zenphoto/
RedirectPermanent /cves/cve-2020-22144/ /cves/cve-2020-22144-path-traversal-in-zenphoto/
RedirectPermanent /cves/cve-2020-22143/ /cves/cve-2020-22143-reflected-xss-in-zenphoto/
RedirectPermanent /cves/cve-2020-8645/ /cves/cve-2020-8645-unauthenticated-sql-injection-in-simplejobscript/
RedirectPermanent /cves/cve-2020-8440/ /cves/cve-2020-8440-unrestricted-file-upload-in-simplejobscript/
RedirectPermanent /cves/cve-2020-7229/ /cves/cve-2020-7229-unauthenticated-sql-injection-in-simplejobscript/
RedirectPermanent /cves/cve-2016-11018/ /cves/cve-2016-11018-unauthenticated-sql-injection-in-wordpress-plugin-gallery-images/
RedirectPermanent /about/ /
RedirectPermanent /resume/ /
RedirectPermanent /services/ /
RedirectPermanent /cve-demystified/ /posts/cve-demystified/
RedirectPermanent /one-takeover-to-rule-them-all/ /posts/one-takeover-to-rule-them-all/
RedirectPermanent /the-underlying-rules-of-bug-bounty/ /posts/the-underlying-rules-of-bug-bounty/
RedirectPermanent /how-to-keep-hackers-motivated-in-bug-bounty/ /posts/how-to-keep-hackers-motivated-in-bug-bounty/
RedirectPermanent /5-things-to-avoid-in-bug-bounty /posts/5-things-to-avoid-in-bug-bounty/
RedirectPermanent /5-things-to-avoid-in-bug-bounty/ /posts/5-things-to-avoid-in-bug-bounty/
RedirectPermanent /5-things-to-do-before-running-your-first-bug-bounty-program/ /posts/5-things-to-do-before-running-your-first-bug-bounty-program/
RedirectPermanent /bug-bounty-management-a-bad-example/ /posts/bug-bounty-management-a-bad-example/
RedirectPermanent /bug-bounty-management-a-great-example-zomato/ /posts/bug-bounty-management-a-great-example-zomato/
RedirectPermanent /github-tools-collection /posts/github-tools-collection/
RedirectPermanent /github-tools-collection/ /posts/github-tools-collection/
RedirectPermanent /cloudflare-origin-server/ /posts/cloudflare-origin-server/
RedirectPermanent /swag-store/ /posts/swag-store/
RedirectPermanent /the-hunter-games/ /posts/the-hunter-games/
RedirectPermanent /how-to-write-a-bug-bounty-report/ /posts/how-to-write-a-bug-bounty-report/
RedirectPermanent /aws-takeover-through-ssrf-in-javascript /posts/aws-takeover-through-ssrf-in-javascript/
RedirectPermanent /aws-takeover-through-ssrf-in-javascript/ /posts/aws-takeover-through-ssrf-in-javascript/
RedirectPermanent /interview-with-a-bug-bounty-program/ /posts/interview-with-a-bug-bounty-program/
RedirectPermanent /colorize-your-hunt/ /posts/colorize-your-hunt/
RedirectPermanent /cons-of-bug-bounty/ /posts/cons-of-bug-bounty/
RedirectPermanent /find-vulnerabilities-in-flash-swf/ /posts/find-vulnerabilities-in-flash-swf/
RedirectPermanent /subdomain-enumeration /posts/subdomain-enumeration/
RedirectPermanent /subdomain-enumeration/ /posts/subdomain-enumeration/
RedirectPermanent /why-bug-bounty/ /posts/why-bug-bounty/
RedirectPermanent /the-bug-bounty-program-that-changed-my-life/ /posts/the-bug-bounty-program-that-changed-my-life/
RedirectPermanent /massive-pwnage/ /posts/massive-pwnage/
RedirectPermanent /fail-at-ctf-h1-212-the-evil-job/ /posts/fail-at-ctf-h1-212-the-evil-job/
RedirectPermanent /wordpress-testing/ /posts/wordpress-testing/
RedirectPermanent /kick-the-bucket/ /posts/kick-the-bucket/
RedirectPermanent /my-way-to-go/ /posts/my-way-to-go/
RedirectPermanent /subdomain-takeover-dns-expiration/ /posts/subdomain-takeover-dns-expiration/
RedirectPermanent /github-search/ /posts/github-search/
RedirectPermanent /playing-with-s3-buckets/ /posts/playing-with-s3-buckets/
RedirectPermanent /an-extremely-buggy-web-app/ /posts/an-extremely-buggy-web-app/
RedirectPermanent /sqlmap/ /posts/sqlmap/
RedirectPermanent /file-transfer-with-ping/ /posts/file-transfer-with-ping/
RedirectPermanent /steganography/ /posts/steganography/
RedirectPermanent /bug-bounty-programs/ /posts/bug-bounty-programs/
RedirectPermanent /port-forwarding-and-tunneling/ /posts/port-forwarding-and-tunneling/
RedirectPermanent /offensive-security-certified-professional/ /posts/offensive-security-certified-professional/
RedirectPermanent /document-metadata/ /posts/document-metadata/
RedirectPermanent /secure-your-wordpress/ /posts/secure-your-wordpress/
RedirectPermanent /smb-null-session/ /posts/smb-null-session/
RedirectPermanent /dvwa-csrf/ /posts/dvwa-csrf/
RedirectPermanent /dvwa-insecure-captcha/ /posts/dvwa-insecure-captcha/
RedirectPermanent /ping-sweep/ /posts/ping-sweep/
RedirectPermanent /hacker-test-1-10/ /posts/hacker-test-1-10/
RedirectPermanent /choose-your-password/ /posts/choose-your-password/
RedirectPermanent /dns-enumeration-with-host/ /posts/dns-enumeration-with-host/
RedirectPermanent /weevely/ /posts/weevely/
RedirectPermanent /vulnerability-in-wordpress-video-gallery/ /posts/vulnerability-in-wordpress-video-gallery/
RedirectPermanent /dvwa-file-upload/ /posts/dvwa-file-upload/
RedirectPermanent /owasp-top-10/ /posts/owasp-top-10/
RedirectPermanent /introduction-to-pentesting/ /posts/introduction-to-pentesting/
RedirectPermanent /mysql-truncation/ /posts/mysql-truncation/
RedirectPermanent /dotdotpwn/ /posts/dotdotpwn/
RedirectPermanent /exploit-exercices-nebula-ndash-level03/ /posts/exploit-exercices-nebula-ndash-level03/
RedirectPermanent /theharvester/ /posts/theharvester/
RedirectPermanent /dvwa-xss-reflected/ /posts/dvwa-xss-reflected/
RedirectPermanent /browser-extensions/ /posts/browser-extensions/
RedirectPermanent /exploit-exercices-nebula-level00/ /posts/exploit-exercices-nebula-level00/
RedirectPermanent /exploit-exercices-nebula-level01/ /posts/exploit-exercices-nebula-level01/
RedirectPermanent /exploit-exercices-nebula-level02/ /posts/exploit-exercices-nebula-level02/
RedirectPermanent /null-byte-injection/ /posts/null-byte-injection/
RedirectPermanent /vulnerable-by-design/ /posts/vulnerable-by-design/
RedirectPermanent /vulnerability-in-hd-flv-player/ /posts/vulnerability-in-hd-flv-player/
RedirectPermanent /damn-vulnerable-web-application/ /posts/damn-vulnerable-web-application/
RedirectPermanent /resources/ /posts/resources/
RedirectPermanent /pentest-exploitation-tools/ /posts/pentest-exploitation-tools/
RedirectPermanent /pentest-information-gathering-tools/ /posts/pentest-information-gathering-tools/
RedirectPermanent /pentest-post-exploitation-tools/ /posts/pentest-post-exploitation-tools/
RedirectPermanent /pentest-vulnerability-assessment-tools/ /posts/pentest-vulnerability-assessment-tools/
RedirectPermanent /vulnerabilities-list/ /posts/vulnerabilities-list/
RedirectPermanent /vulnerability-clickjacking/ /posts/vulnerability-clickjacking/
RedirectPermanent /vulnerability-cross-origin-resource-sharing-aka-cors/ /posts/vulnerability-cross-origin-resource-sharing-aka-cors/
RedirectPermanent /vulnerability-cross-site-request-forgery-aka-csrf/ /posts/vulnerability-cross-site-request-forgery-aka-csrf/
RedirectPermanent /vulnerability-cross-site-scripting-aka-xss/ /posts/vulnerability-cross-site-scripting-aka-xss/
RedirectPermanent /vulnerability-relative-path-overwrite-aka-rpo-or-prssi/ /posts/vulnerability-relative-path-overwrite-aka-rpo-or-prssi/
RedirectPermanent /vulnerability-sql-injection-aka-sqli/ /posts/vulnerability-sql-injection-aka-sqli/
RedirectPermanent /vulnerability-subdomain-takeover/ /posts/vulnerability-subdomain-takeover/

