<div id="sharer">
    <div class="sharer-buttons">

        <a href="https://twitter.com/intent/tweet?text={{ .Title }}%20{{ .Permalink }}" target="_blank"><img class="twitter" src="/assets/img/share/twitter.svg" alt="twitter"></a>
        <a href="http://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank"><img class="reddit" src="/assets/img/share/reddit.svg" alt="reddit"></a>
        <a href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&amp;t={{ .Title }}" target="_blank"><img class="hackernews" src="/assets/img/share/hackernews.svg" alt="hackernews"></a>
        <a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" target="_blank"><img class="mail" src="/assets/img/share/mail.svg" alt="mail"></a>
        <a href="https://wa.me/?text={{ .Title }}%20{{ .Permalink }}" target="_blank"><img class="whatsapp" src="/assets/img/share/whatsapp.svg" alt="facebook"></a>
        <a href="https://t.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank"><img class="telegram" src="/assets/img/share/telegram.svg" alt="facebook"></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank"><img class="linkedin" src="/assets/img/share/linkedin.svg" alt="linkedin"></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&t={{ .Title }}" target="_blank"><img class="facebook" src="/assets/img/share/facebook.svg" alt="facebook"></a>

        <!-- <a href="https://twitter.com/intent/tweet?text={{ .Permalink }}"><img src="/assets/img/share/twitter.png"></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}&amp;summary=&amp;source="><img src="/assets/img/share/linkedin.png"></a>
        <a href="http://www.reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}"><img src="/assets/img/share/reddit.png"></a>
        <a href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&amp;t={{ .Title }}"><img src="/assets/img/share/ycombinator.png"></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><img src="/assets/img/share/facebook.png"></a> -->
    </div>
</div>
