{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list posts">
    <h1 class="title">{{ .Title }}</h1>

    <ul>
      {{- range .Paginator.Pages -}}
        {{ $.Scratch.Set "year" (.Date.Format "2006") }}
        {{ if not ($.Scratch.Get "year2") }}
          {{ $.Scratch.Set "year2" ($.Scratch.Get "year") }}
        {{ end }}
        {{ if ne ($.Scratch.Get "year") ($.Scratch.Get "year2") }}
          {{ $.Scratch.Set "year2" ($.Scratch.Get "year") }}
          <li>&nbsp;</li>
        {{ end }}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
