<div id="google_translate_element"></div>

<style>
 #google_translate_element {
    /* float: left;
    width: 150px; */
    display: none;
 }
 /*.skiptranslate > iframe {
  height: 0 !important;
  border-style: none;
  box-shadow: none;
}
 .VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none;
  }
  .VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q{
  background-color: unset !important;
  box-shadow: none !important;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none !important;
}
body {
    top: 0px !important;
} */
</style>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
